
Force output to new window:
Formatted HTML:

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width">
      <title>My email message created with BeeFree</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="format-detection" content="telephone=no">
      <style type="text/css">  /* RESET */  #outlook a {padding:0;} body {width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; mso-line-height-rule:exactly;}  table td { border-collapse: collapse; }  .ExternalClass {width:100%;}  .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}  table td {border-collapse: collapse;}  /* IMG */  img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}  a img {border:none;}  /* Becoming responsive */  @media only screen and (max-device-width: 480px) {  table[id="container_div"] {max-width: 480px !important;}  table[id="container_table"], table[class="image_container"], table[class="image-group-contenitor"] {width: 100% !important; min-width: 320px !important;}  table[class="image-group-contenitor"] td, table[class="mixed"] td, td[class="mix_image"], td[class="mix_text"], td[class="table-separator"], td[class="section_block"] {display: block !important;width:100% !important;}  table[class="image_container"] img, td[class="mix_image"] img, table[class="image-group-contenitor"] img {width: 100% !important;}  table[class="image_container"] img[class="natural-width"], td[class="mix_image"] img[class="natural-width"], table[class="image-group-contenitor"] img[class="natural-width"] {width: auto !important;}  a[class="button-link justify"] {display: block !important;width:auto !important;}  td[class="table-separator"] br {display: none;}  td[class="cloned_td"]  table[class="image_container"] {width: 100% !important; min-width: 0 !important;} } table[class="social_wrapp"] {width: auto;} </style>
   </head>
   <body bgcolor="#e1e5e9">
      <table id="container_div" style="text-align:center; background-color:#e1e5e9; border-collapse: collapse" align="center" bgcolor="#e1e5e9" width="100%" cellpadding="0" cellspacing="0" border="0">
         <tr>
            <td align="center">
               <br>
               <table id="container_wrapper" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                     <tr>
                        <td>
                           <table id="container_table" style="border-collapse: collapse; min-width: 600px;" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600">
                              <tbody>
                                 <tr>
                                    <td bgcolor="#ffffff" valign="top">
                                       <table style="border-collapse: collapse; background-color: #ffffff" bgcolor="#ffffff" border="0" cellpadding="7" cellspacing="0" width="100%">
                                          <tbody>
                                             <tr>
                                                <td>
                                                   <table style="border-collapse: collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                      <tbody>
                                                         <tr valign="top">
                                                            <td class="mix_image" align="left" valign="top" width="290"><img style="height: auto; vertical-align: top; border: 0px none transparent; border-radius: 0px; width: 116px;" class="natural-width" alt="Text shown when image is not displayed" src="/assets/images/1427591921067-FR2YQO39.jpg" data-embeded="auto" width="116"></td>
                                                            <td class="table-separator" height="7" width="7"><b></b></td>
                                                            <td style="line-height: 130%;" class="mix_text" valign="top" width="290">
                                                               <div style="text-align: right; color: rgb(102, 102, 102);"><span style="font-family: lucida sans unicode,lucida grande,sans-serif; line-height: 130%;"><span style="font-size: 18px; color: rgb(102, 102, 102); line-height: 130%;"><span style="font-size: 22px; color: rgb(102, 102, 102); line-height: 130%;"><span style="font-size: 14px; line-height: 130%;"></span></span><br></span></span><br></div>
                                                            </td>
                                                         </tr>
                                                      </tbody>
                                                   </table>
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                       <table style="border-collapse: collapse; background-color: rgb(92, 35, 44);" bgcolor="#5c232c" border="0" cellpadding="20" cellspacing="0" width="100%">
                                          <tbody>
                                             <tr valign="top">
                                                <td style="line-height: 130%; color: rgb(255, 255, 255);" valign="top"><span style="font-family: lucida sans unicode,lucida grande,sans-serif; color: rgb(255, 255, 255); line-height: 130%;"><span style="font-size: 28px; color: rgb(255, 255, 255); line-height: 130%;"><span style="color: rgb(255, 255, 255); line-height: 130%;">Bienvenue sur timarche</span></span></span><br></td>
                                             </tr>
                                          </tbody>
                                       </table>
                                       <table class="image_container" style="border-collapse: collapse; background-color: rgb(255, 255, 255);" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                          <tbody>
                                             <tr valign="top">
                                                <td align="center" valign="top"><img style="height: auto; vertical-align: top; width: 600px;" alt="Text shown when image is not displayed" src="/assets/images/1427652561537-IT26DW48.png" data-embeded="auto" width="600"></td>
                                             </tr>
                                          </tbody>
                                       </table>
                                       <table style="border-collapse: collapse; background-color: rgb(255, 255, 255);" bgcolor="#ffffff" border="0" cellpadding="10" cellspacing="0" width="100%">
                                          <tbody>
                                             <tr valign="top">
                                                <td style="line-height: 130%; color: rgb(76, 76, 76);" valign="top"><span style="color: rgb(76, 76, 76); line-height: 130%;">Hey &lt;%=@user.name%&gt;,<br><br><span style="color: rgb(76, 76, 76); line-height: 130%;">Merci de votre inscription sur timarché.com! Nous sommes ravis de vous avoir comme un nouveau membre de notre communauté.</span><br><br>Pour vous assurer d'obtenir le meilleur parti de votre expérience, nous avons inclus des informations utiles ci-dessous. Vous pouvez préférer garder cet e-mail pour consultation ultérieure.</span><br>Your new user information:Username: &lt;%=@user.username%&gt;<br><br>Pour accéder à votre compte et profiter des nombreuses fonctionnalités disponibles, visitez www.timarche.com et cliquez sur le lien Connexion. Si vous avez oublié votre mot de passe, vous pouvez le récupérer en utilisant l'option de réinitialisation de mot de passe.<br></td>
                                             </tr>
                                          </tbody>
                                       </table>
                                       <table style="border-collapse: collapse; background-color: rgb(255, 255, 255);" bgcolor="#ffffff" border="0" cellpadding="10" cellspacing="0" width="100%">
                                          <tbody>
                                             <tr valign="top">
                                                <td align="left" height="4" valign="top">
                                                   <table class="divider" style="border-top: 3px dotted rgb(204, 204, 204); margin: 0px auto;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                      <tbody>
                                                         <tr>
                                                            <td style="line-height: 0; text-decoration: none; padding: 0px;">
                                                               &nbsp;
                                                            </td>
                                                         </tr>
                                                      </tbody>
                                                   </table>
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                       <table style="border-collapse: collapse; background-color: rgb(255, 255, 255);" bgcolor="#ffffff" border="0" cellpadding="10" cellspacing="0" width="100%">
                                          <tbody>
                                             <tr valign="top">
                                                <td align="center" valign="top">
                                                   <table class="social_wrapp" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;" border="0" cellpadding="0" cellspacing="0" width="144">
                                                      <tbody>
                                                         <tr>
                                                            <td>
                                                               <table class="SocialItemUnit" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0; display: block;" align="left" border="0" cellpadding="0" cellspacing="0" width="46">
                                                                  <tbody>
                                                                     <tr>
                                                                        <td style="text-decoration: none; padding: 4px 0px;" align="left" valign="top" width="46">
                                                                           <span class="social-sharing">
                                                                           <a title="" href="https://beefree.io/frontend/sendtoafriend.aspx?idNL=[_idnl]&amp;idoptin=[_idoptin]&amp;strHash=[_hash]" target="_blank" style="text-decoration: none;">
                                                                           <img src="/assets/images/36px_mail.png" alt="Email" style="display: block; border: 0; outline: none; padding-bottom: 0; vertical-align: top;">
                                                                           </a>
                                                                           </span>
                                                                        </td>
                                                                     </tr>
                                                                  </tbody>
                                                               </table>
                                                               <table class="SocialItemUnit" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0; display: block;" align="left" border="0" cellpadding="0" cellspacing="0" width="46">
                                                                  <tbody>
                                                                     <tr>
                                                                        <td style="text-decoration: none; padding: 4px 0px;" align="left" valign="top" width="46">
                                                                           <span class="social-sharing">
                                                                           <a title="" href="https://www.facebook.com/sharer.php?u=[ShareOn]" target="_blank" style="text-decoration: none;">
                                                                           <img src="/assets/images/36px_facebook.png" alt="Facebook" style="display: block; border: 0; outline: none; padding-bottom: 0; vertical-align: top;">
                                                                           </a>
                                                                           </span>
                                                                        </td>
                                                                     </tr>
                                                                  </tbody>
                                                               </table>
                                                               <table class="SocialItemUnit" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0; display: block;" align="left" border="0" cellpadding="0" cellspacing="0" width="46">
                                                                  <tbody>
                                                                     <tr>
                                                                        <td style="text-decoration: none; padding: 4px 0px;" align="left" valign="top" width="46">
                                                                           <span class="social-sharing">
                                                                           <a title="" href="http://twitter.com/home?status=[ShareOn]" target="_blank" style="text-decoration: none;">
                                                                           <img src="/assets/images/36px_twitter.png" alt="Twitter" style="display: block; border: 0; outline: none; padding-bottom: 0; vertical-align: top;">
                                                                           </a>
                                                                           </span>
                                                                        </td>
                                                                     </tr>
                                                                  </tbody>
                                                               </table>
                                                            </td>
                                                         </tr>
                                                      </tbody>
                                                   </table>
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <br>
            </td>
         </tr>
      </table>
   </body>
</html>

