<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="cards">
				<ul>
					<li><i class="fa fa-cc-amex fa-3x"></i></li>
					<li><i class="fa fa-cc-visa fa-3x"></i></li>
					<li><i class="fa fa-cc-mastercard fa-3x"></i></li>
					<li><i class="fa fa-cc-stripe fa-3x"></i></li>
					<!--<li><i class="pw pw-visa"></i></li>
					<li class="discover">Discover</li>
					<li class="diners">Diners</li>-->
				</ul>
			</div>
		</div>
	</div>
</div>
