<div class="modal fade" id="myEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
           <!--<div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Publier Produits</h4>
           </div>-->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <form>
       <%= form_for :listing, :url => {:action => :edit} do |f| %>   
          <div class="form-group row">
            <%= f.label :name,"Titre de l'annonce", class: "col-4 col-form-label"%>   
            <div class="col-8">
               <%= f.text_field :name, class: "form-control here" %> 
            </div>
          </div>
          <div class="form-group row">
            <label for="text1" class="col-4 col-form-label">Prix d'offre</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-usd"></i>
                </div> 
                <input id="text1" name="text1" placeholder="Prix d'offre" type="text" class="form-control here">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4">Prix en USD</label> 
            <div class="col-8">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input name="checkbox" type="checkbox" checked="checked" class="form-check-input" value="true">
                        USD
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="select" class="col-4 col-form-label">Category</label> 
            <div class="col-8">
              <select id="select" name="select" class="form-control">
                <option value="rabbit">Rabbit</option>
                <option value="duck">Duck</option>
                <option value="fish">Fish</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="select1" class="col-4 col-form-label">Localisation</label> 
            <div class="col-8">
              <select id="select1" name="select1" class="form-control">
                <option value="rabbit">Rabbit</option>
                <option value="duck">Duck</option>
                <option value="fish">Fish</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4">Condition</label> 
            <div class="col-8">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input name="checkbox1" type="checkbox" checked="checked" class="form-check-input" value="rabbit">
                        Usé
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input name="checkbox1" type="checkbox" class="form-check-input" value="duck">
                        Neuf
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input name="checkbox1" type="checkbox" class="form-check-input" value="fish">
                        Normale
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="textarea" class="col-4 col-form-label">Description</label> 
            <div class="col-8">
              <textarea id="textarea" name="textarea" cols="40" rows="5" aria-describedby="textareaHelpBlock" class="form-control"></textarea> 
              <span id="textareaHelpBlock" class="form-text text-muted">veuillez donner une description exacte de votre produit.</span>
            </div>
          </div> 
          <div class="form-group row">
            <div class="offset-4 col-8">
              <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <%end%>
        </form>
      </div>
    </div>
  </div>
</div>