<div class="container">
    <div class="row">
        <div class="col-md-12 up">
            <div class="col-md-5">
                <div class="header_dash">
                    <h3>Recent sales</h3>
                </div>
                <div class="sales">
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="header_dash">
                    <h3>Total Products Views</h3>
                </div>
                <div class="sales">
                    <p class="pro_views"><%=current_user.total_views%></p>
                    <span>views</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="header_dash">
                    <h3>Recent Orders</h3>
                </div>
                <div class="sales">
                    
                </div>
            </div>
        </div>
    </div>
</div>