<div class="container">
    <div class="row">
        <div class="col-md-12 up">
            <div class="col-md-5">
                <div class="header_dash">
                    <h3>Products View Activities</h3>
                </div>
                <div class="sales">
                   <!--<td><#%= line_chart User.group_by_day(:created_at).count %></td>-->
                </div>
            </div>
            <div class="col-md-3">
                <div class="header_dash">
                    <h3>Total Products Views</h3>
                </div>
                <div class="sales">
                    <p class="pro_views"><%= number_to_human(current_user.total_views)></p>
                    <span>views</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="header_dash">
                    <h3>Notification</h3>
                </div>
                <div class="sales">
                    
                </div>
            </div>
        </div>
    </div>
</div>