
<div class="like-action clearfix">
  <%if @listing.impressions.blank?%>
  <span></span>
  <%else%>
  <span class="like">
	  <i class="fa fa-eye"></i>
	  <%= number_to_human(pluralize(@listing.impressions.count, 'view'))%>
  </span>
  <%end%>
</div>