<% @title = "listings" %>
<body class="index_bg">
<div id="listing">
	<%= render :partial => 'listings/listings'%>
</div>
<%= render :partial => 'shared/intro' unless user_signed_in?%>
<%= render :partial => 'pages/payment'%>

