<% @title = "listings" %>
<body class="pr-show">
<div id="listing">
	<%= render :partial => 'listings/listings'%>
</div>
<%= render :partial => 'shared/intro' unless user_signed_in?%>
<%= render :partial => 'listings/form'%>
<%= render :partial => 'pages/payment'%>


