<body class="pr-show">
<div class="product">
		<div class="container">
		    <div class="row">
				<div class="col-md-12">
					<div class="title_head">
						<p class="desc">Velvet Balconette Bralette, More Colors</p>
						<a href="" class="store">from DWDanielleWood</a> 
					</div>
				</div>
			</div>
		</div>

	<div class"container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-7">
					<div class="first_col">
						<%=image_tag 'showpic.png'%>
					</div>
				</div>
			</div>
		</div>
	</div>









</div>