<% @title = "inbox" %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="mail ">
				<%= render :partial => 'conversations/conversation'%>
			</div>
		</div>
	</div>
</div>