<div class="category">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="topnav">
                <ul>
                  <li>
                      <a href ="/browse">
                          <span class="fa fa-home"></span>Acceuil
                      </a> 
                  </li>
                    <% @categories.each do |category| %>
                    <li><%= link_to category.name, category_path(category.slug) %></li>
                    <%end%>
                </ul>
            </div>
         </div>
       </div>
    </div>
</div>