
<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="intro_box clearfix">
          <% if user_signed_in?%>
          
          <%else%>
          <h2>Découvrez les biens et produits que vous adorerez du marché</h2>
            <%= link_to "Sign UP",new_user_registration_path ,class: 'btn btn-marketing' %>
            <!--<a href="" class="btn btn-marketing">Sign Up</a>-->
            <h3>ou bien <a href="">ouvrir votre propre boutique </a> gratuitement</h3>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>