<div class="mid-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="centered">
          <%= search_form_for @q , :class => "navbar-form" do  |f| %>
              <div class=" med-group form-group">
                <%= f.search_field :name_cont, placeholder: 'Search Products, Stores, Collections, & People...', class: 'med' %>
              </div>
              <%= f.button "Submit" , :class =>'btn btn-midjumbo' do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <%end%>
          <% end %> 
        </div>
      </div>
    </div>     
  </div>
</div>