<div class="mid-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="centered">
          <form class="navbar-form"  role="search">
              <div class=" med-group form-group">
                <%=text_field_tag 'search', nil, placeholder: 'Search Products, Stores, Collections, & People...', class: 'med'%>
                <!--<input type="text" class="form-control" placeholder="Search">-->
              </div>
              <button type="submit" class="btn btn-midjumbo">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
          </form>          
        </div>
      </div>
    </div>     
  </div>
</div>