 <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="navbar-header">
                  <div class="navbar-brand" href="#">
                    <%= link_to image_tag("reverse_logo.png", class: ' animated bounce'), root_path %> 
                    <!--<img  class="bounce"alt="Brand" src="app/assets/images/reverse_logo.png">-->
                  </div>
                </div>
                  <ul class="nav navbar-nav pull-right">
                    <li class="active">
                      <a href="">
                        <i class="mail fa fa-inbox fa-2x"><span class="badge">42</span></i>
                      </a>
                    </li>
                    <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="about-image">
                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/diesellaws/128.jpg" class="img-circle" height="30" width="30">
                        </span>
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="icon_header glyphicon glyphicon-home" aria-hidden="true"></span>Settings</a></li>
                        <li><a href="apropos.html"><span class="icon_header glyphicon glyphicon-info-sign" aria-hidden="true"></span>A propos</a></li>
                        <li><a href="#"><span class="icon_header glyphicon glyphicon-bullhorn" aria-hidden="true"></span>Admin</a></li>
                        <li><%=link_to 'logout', destroy_user_session_path, method: :delete , class: 'icon_header glyphicon glyphicon-bullhorn'%> </li>
                      </ul>
                    </li>
                    <li>
                       <%= button_to "Deposer une annonce", new_listing_path, :method => :get, class: 'btn btn-post'%>
                    </li>
                  </ul>
              </div>
            </div>                
          </div>
        </nav>
      </div>         
    </div>
</div>