<div class="invite">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="trial">
          <%if user_signed_in?%>
          <h3>Restons en contact.</h3>
          <h4>
          Restons en contact, abonnez-vous à notre newsletter, pour en savoir plus sur nos changements à venir et nos prochains mis a jours.
          </h4>
          <p>entrer votre email ici</p>
           <div class="newsletter">
            <%= render :partial => 'shared/newsletter'%>
           </div>
          <%else%>
           <h4>Rejoignez-nous pour voir une liste personnalisé de produits en fonction de votre style et les marques que vous aimez</h4> 
           <h3>Essayer gratuitement notre plateforme.</h3>
           <div class="trialbox clear">
            <%= button_to "Essayer notre plateforme", user_registration_path, :method => :get, class: 'btn  btn-trial'%>
           </div>
          <%end%> 
        </div>           
      </div>
    </div>
  </div>
</div>