<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="payment-methods">
				<ul>
					<li><i class="pw pw-american-express"></i></li>
					<li><i class="pw pw-stripe"></i></li>
					<li><i class="pw pw-mastercard"></i></li>
					<li><i class="pw pw-paypal"></i></li>
					<li><i class="pw pw-visa"></i></li>
					<!--<li class="discover">Discover</li>
					<li class="diners">Diners</li>-->
				</ul>
			</div>
		</div>
	</div>
</div>
