<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center-block">
          <h1>Votre place de marché</h1>
          <p>C'est l'endroit où vendre, louer, échanger et partager des biens et services avec les autres membres de la place de marché.</p>
          <form class="navbar-form"  role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Products, Stores, Collections, & People">
            </div>
            <button type="submit" class="btn btn-default btn-lg btn-jumbo">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </form>
        </div>
      </div>
    </div>     
  </div>
</div>
<div class="recent">
  <div class="container">
    <div class="row">
      <div class="col-md-12 clearfix">
        <div class="main_listings switcher">
          <h3>Annonces Récentes</h3>
          <p>Découvrez les nouveaux produits de partout dans le marché.</p>
        </div>
        <div class="recent_pro clearfix">
          <ul class="trending">
            <li class="trending_listing">
              <a href=""><img src="http://upload.wikimedia.org/wikipedia/commons/4/48/Camp-Perrin_artisanat.JPG" alt="ads"> 
                <div class="info clearfix">
                <span class="listing_title">Lance-Pompons Pois / Dot Pom pom slingshot</span>
                <span class="listing_price">$250</span>
                </div>
              </a>
              <ul class="related_images">
                <li>
                  <a href="">
                    <div class="thumbnail-outer">
                      <div class="thumbnail-inner">
                        <img src="img/thumbnail.png" alt="84x84" >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="thumbnail-outer">
                      <div class="thumbnail-inner">
                        <img src="http://placehold.it/298x237" alt="" >
                      </div>
                    </div>
                  </a>
                </li>
                <li class="price_count">
                 <div class="thumbnail-outer count-box">
                      <div class="thumbnail-inner">
                        <a class="shop-listing-count" href="">        
                          <span class="listing-count">80</span> items  
                        </a>
                      </div>
                  </div>
                </li>                  
              </ul>                 
              <div class="about-shop clear">
                <a href="">
                  <span class="owner-details">
                    <span class="about-image"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/diesellaws/128.jpg" class="img-circle" height="75" width="75"></span>                          
                      <em>From</em> <span class="shop-name">Celushop</span> <br>
                      <em>in</em> <span class="location">Haiti</span>                          
                  </span>                       
                </a>
              </div>            
            </li>
            <li class="trending_listing">
              <a href=""><img src="https://img0.etsystatic.com/029/0/6780232/il_340x270.646249488_au4l.jpg" alt="ads"> 
                <div class="info clearfix">
                <span class="listing_title">Lance-Pompons Pois / Dot Pom pom slingshot</span>
                <span class="listing_price">$250</span>
                </div>
              </a>
              <ul class="related_images">
                <li>
                  <a href="">
                    <div class="thumbnail-outer">
                      <div class="thumbnail-inner">
                        <img class="inner" src="http://placehold.it/84x84" alt="" >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="thumbnail-outer">
                      <div class="thumbnail-inner">
                        <img class="inner" src="http://placehold.it/84x84" alt="" >
                      </div>
                    </div>
                  </a>
                </li>
                <li class="price_count">
                  <div class="thumbnail-outer count-box">
                      <div class="thumbnail-inner">
                        <a class="shop-listing-count" href="">        
                          <span class="listing-count">107</span> items  
                        </a>
                      </div>
                  </div>
                </li>       
              </ul>                 
              <div class="about-shop clear">
                <a href="">
                  <span class="owner-details">
                    <span class="about-image"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/aaronalfred/128.jpg" class="img-circle" height="75" width="75"></span>                          
                      <em>From</em> <span class="shop-name">Celushop</span> <br>
                      <em>in</em> <span class="location">Haiti</span>                          
                  </span>                       
                </a>
              </div>            
            </li>
            <li class="trending_listing">
              <a href=""><img src="img/iphone.JPG" alt="ads"> 
                <div class="info clearfix">
                <span class="listing_title">Lance-Pompons Pois / Dot Pom pom slingshot</span>
                <span class="listing_price">$250</span>
                </div>
              </a>
              <ul class="related_images">
                <li>
                  <a href="">
                    <div class="thumbnail-outer">
                      <div class="thumbnail-inner">
                        <img src="http://placehold.it/84x84" alt="84x84" >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="thumbnail-outer">
                      <div class="thumbnail-inner">
                        <img src="http://placehold.it/84x84" alt="" >
                      </div>
                    </div>
                  </a>
                </li>
                <li class="price_count">
                 <div class="thumbnail-outer count-box">
                      <div class="thumbnail-inner">
                        <a class="shop-listing-count" href="">        
                          <span class="listing-count">1120</span> items  
                        </a>
                      </div>
                  </div>
                </li>                  
              </ul>                 
              <div class="about-shop clear">
                <a href="">
                  <span class="owner-details">
                    <span class="about-image"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/diesellaws/128.jpg" class="img-circle" height="75" width="75"></span>                          
                      <em>From</em> <span class="shop-name">Celushop</span> <br>
                      <em>in</em> <span class="location">Haiti</span>                          
                  </span>                       
                </a>
              </div>            
            </li>
          </ul>              
        </div>
        <div class="voir-plus clear">
            <button type="button" class="btn btn-default btn-voir">Voir plus</button>
        </div>           
      </div>
    </div>
  </div>
</div>
<div class="footer_mid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mid-footer">
          <div class="mid_listings switcher">
            <h3>La meilleure façon de vendre et d'acheter en ligne  </h3>
            <p> 3 raisons d'utiliser Timarché</p>
          </div>
          <div class="col col-md-4">
            <%=image_tag("handshake.png",)%> 
            <!--<img src="img/handshake.png" alt="services">-->
            <h3>clients satisfaits</h3>
            <p>
             Apprenez à connaître boutiques et articles avec avis de notre communauté.
            </p>
          </div>
          <div class="col col-md-4">
            <%=image_tag("sellers.png",)%>
            <!--<img src="img/sellers.png" alt="services">-->
            <h3>Vendeurs passionnés</h3>
            <p>
              Acheter des gens créatifs qui se soucient de la qualité et de l'artisanat.
            </p>
          </div>
          <div class="col no_boder_col col-md-4">
            <%=image_tag("secure.png",)%>
            <!--<img src="img/secure.png" alt="services">-->
            <h3>Transactions Sécurisées</h3>
            <p>
              Restez confiant en sachant notre equipe de sécurité est là pour vous protéger.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="invite">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="trial">
           <h4>Aucune carte ou activités de prêt de crédit nécessaire.</h4> 
           <h3>Essayer gratuitement notre plateforme.</h3>
           <div class="trialbox clear">
            <button type="button" class="btn btn-default btn-trial">Ouvrir une boutique</button>
          </div> 
        </div>           
      </div>
    </div>
  </div>
</div>