<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="privacy">
				
				<h3>Respect de la vie Privée</h3>
				    <p>
					Timarche est dédiée à respecter votre intimité et procéder à une protection de données applicables et de lois confidentielles. Vous pouvez visiter www.timarche.com sans devoiler aucune information d’identification personnelle. Nous avons fournis des lois de confidentialité pouvant vous aider à comprendre comment faire la collecte, utiliser et protéger vos informations quand vous visiter le Site. On éspère pouvoir vous aider à prendre des décisions valables alors, prenez le temps de lire les sections ci-dessous et apprenez comment peut on utiliser vos informations personnelles. Vous devrez lire cette note en conjonction avec les Termes et Conditions d’Utilisation pour le Site ainsi que nos produits et services. </p><br>

					<h3>Collecte d’informations Personnelles</h3>
					<p>Nous anticipons de faire la collecte et d’ utiliser vos informations personnelles seulement avec votre consentement, en connaissance de cause et spécialement quand vous utiliserez nos services, des demandes spéciales ou autres services ou sinon quand vous répondrez à nos requêtes (questionnaires ou sondages).<br> 

					Le type d’informations personnelles que nous collecterons peuvent être, par exemple, votre nom et adresse postale, date d’anniversaire, sexe, téléphone et numero de fax, adresse électronique, mode de vie et autres informations collectées lors de l’ application ou sinon à travers les sondages. Si vous choisissez de nous donnez vos informations personnelles, elles seront utilisées en tant que support pour les raisons mentionnées au moment de la collecte, et peuvent être modifiées selon vos préférences.<br>

					Soyez conscient qu’en nous fournissant les données, vous acceptez que nous fassions le procédé de vos données en accord avec la déclaration de la loi de confidentialité.</p><br> 

					<h3>Information de Securité</h3>
					<p>Nous vous prions de prendre conscience que toutes communication à travers l’Internet, comme par example les messages électronique, ne sont pas sécurisés à moins d’être codés. Vos échanges avec nous peuvent être acheminés à travers certains pays avant d’être délivrés – c’est la nature de la communication super highway/Intranet. Timarche ne peut accepter aucunes résponsabilités pour accès non-authorisés ou sinon pertes d’informations personnelles ce qui est absolument hors de notre contrôle. </p><br>

					<h3>Support de Confidentialité</h3>
					<p>Timarche réserve le droit de changer ou de modifier cette déclaration de confidentialité à n’importe quel moment et au cas de changements applicable au niveau de la protection des données et législation de confidentialité.</p>
				</p>
			</div>
		</div>
	</div>
</div>