<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="plan_wrapper">
                <% if params['update'] == 'card' %>
                  <%= render 'card', title: "Update Your Payment Information", url: owner_subscription_path(@owner, @subscription) %>
                <% else %>
                  <h1>What Plan Is Best For You?</h1>
                  <%= render 'pricing_table' %>
                  <p>You can also <%= link_to 'cancel your subscription', cancel_owner_subscription_path(@owner, @subscription),class: "btn btn-danger", method: :post %>.</p>
                <% end %> 
            </div> 
        </div>
    </div>
</div>
