<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="plan_wrapper">
				<h1>What Plan Is Best For You?</h1>
				<h3>Risk free, <strong>60-day</strong> money back guarantee!</h3>
			    <%= render 'pricing_table' %>
			</div>
			<div class="faq_inner col-md-12">
			    <h3>Frequently Asked Questions</h3>
			    <div class="faq_left col-md-6">
			      <article>
			        <h5>How many customers do I need to have?</h5>
			        <p>We recommend having at least 25 monthly paying customers. Any less than that and the metrics we provide really aren't that useful as we won't have enough data to give you something meaningful.</p>
			      </article>
			      <article>
			        <h5>I use a third-party plugin for subscriptions, will this work?</h5>
			        <p>Probably not. The main thing is you need to be using Stripe's Subscription Billing feature. If your subscription billing is handled by a different plugin, we can't generate any metrics for you.</p>
			      </article>
			      <article>
			        <h5>Will this work with non-SaaS businesses?</h5>
			        <p>At this point, not really. Right now Baremetrics is focused primarily on providing analytics and metrics for SaaS businesses with recurring billing.</p>
			      </article>
			    </div>
			    <div class="faq_right col-md-6">
			      <article>
			        <h5>How does the 60-day money back guarantee work?</h5>
			        <p>If you're not happy with your account and would like your money back, just contact us within the first 60 days and we'll gladly refund your money. Refunds can not be issued after your initial 60 days of use and we don’t prorate for partial months.</p>
			      </article>
			      <article>
			        <h5>Can I change plans at any time?</h5>
			        <p>Yep. Simply click on the “Account” tab on your dashboard and you’ll see your options.</p>
			      </article>
			      <article>
			        <h5>I still have a question. How do I contact you?</h5>
			        <p>Send an email to <a href="mailto:hello@baremetrics.io">hello@baremetrics.io</a> and we'll help you out.</p>
			      </article>
			    </div>
		  </div>
		</div>
	</div>
</div>

