<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="plan_wrapper">
				<h1>What Plan Is Best For You?</h1>
			    <%= render 'pricing_table' %>
			</div>
		</div>
	</div>
</div>

