<div class="container">
	<div class="row">
		<div class="col-md-12">
           <%= render 'card', title: (Koudoku.free_trial? ? "Start Your Free Trial" : "Upgrade Your Account"), url: owner_subscriptions_path(@owner) %>
		</div>
	</div>
</div>

