/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require font-awesome
 *= require social-share-button
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'chosen';

body.index_bg{
    background-image:url(image_path("bg_index.jpg"));
    background-repeat: no-repeat;
}

body.welcome{
    padding-top:0px;

}

body{
    padding-top:130px;
    z-index:-10;
}

body.modal-open { 
    overflow:inherit; 
    padding-right:inherit !important; 
}

body.signin{
    background-color:#F4F4F4;
}

a{
color:#444;
text-decoration: none;
outline: 0;

}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

a:hover{
    color:#5C232C;
    text-decoration: none;
}

.alert{
  margin:15px 0px 25px 0px;
}

.mini{
 width: 125px;
 height:30px;
}

a:focus{
   outline: 0;
}

.glyphicon-envelope{
    font-size:25px;
    position: relative;
    left: 8px;
    top: 3px;
}

.icon_header{
    padding-right: 15px;
}

#follow_form{
   /* margin-top:20px;*/
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.chosen-container{
   width:100% !important;
}
/***************welcome_nav**************/
.header_welcome{
 width: 100%;
 position: relative;
 top:45px;
}

.header_welcome img{
  float:left;
  position: relative;
  top: -10px;
  z-index:1000;
}

.btn-log{
    background-color: none;
    border: 1px solid #fff;
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;

}

.btn-log:hover{
    color:#1ABC9C;
}

.login_block{
    width: 100%;
    float:right;
    position: relative;
    top: -15px;
    z-index:1000;
}

.login_block ul{
    list-style-type: none;
    margin:0px 20px 0px 0px;
    padding:0px;
    position: relative;
    top:-20px;
}

.login_block ul li{
    display: inline-block;
    
}

.login_block ul li p{
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px; 
}

.login_block ul li p span a{
    font-size: 15px; 
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: "open sans", sans-serif;
    color:#fff;
    text-decoration:none;
}
.login_block ul li p span a:hover{
    color:inherit;
}



/***************end**************/

.jumbotron{
    background-image: url(image_path("coverBG_alt4.jpg"));
    background-size: cover;
    background-position: center-top;
    height: 680px;
    background-repeat: no-repeat;
    margin:-20px 0px 0px 0px;
}

.hero_bg{
    background-image: url(image_path("hero_bg.jpg"));
    height:420px;
    background-repeat: no-repeat;
    width:100%;
    margin:20px 0px;
}

.jumbo_center{
    text-align: center;
    /*padding-top:45px;*/
    width: 780px;
    margin-top:175px;
    position:relative;
    z-index:1000;
}

.jumbo_center form.navbar-form{
    text-align: center;
}

.jumbo_center h1{
    font-size: 68px;
    font-weight:700;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    margin-top:15px;
}

.jumbo_center p{
    font-size: 26px;
    font-weight:30;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    margin-top:15px;
    text-align: center;
    padding-bottom:4px;
}

form.navbar-form {
    margin-bottom:45px;
}

form.navbar-form .form-group input[type="search"]{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 15px;
    font-weight: 400;
    width: 600px;
    height: 55px;
    border-radius: 8px;
    color: #888;
    letter-spacing: 1px;
    border:medium none;
    padding-left:10px;
}

.switcher{
    border-bottom: 1px solid #ccc;
}

.switch_col{
    padding-bottom: 10px;
}

.glyphicon-search{
    color:#fff;
}

.btn-jumbo{
    padding: 19px 40px 19px 40px;
    /*height: 55px;
      width: 60px;*/
    border-radius: 10px;
    background-color: #7C303C;
    border:none;
    margin-left: 15px;
}
.btn-jumbo:hover{
    background-color: #5C232C;
}

.btn-grid{
  padding: 12px 25px 12px 25px;
  color:#777;
}

.btn-grid i span{
    margin-left: 8px;
    font-family:'Source Sans Pro', sans-serif; 
    color:#777;  
}

.btn-grid i span:hover{
  color:#fff;
}

.btn-grid:hover{
   background-color:#7C303C ;
   color:#fff;
}

.btn-post{
    background-color:#7C303C;
    color:#fff !important;
    padding: 8px 15px 8px 15px;
    margin-top: 5px;
    border-radius: 8px;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0px;
}

.btn-post:hover{
    background-color: #5C232C;
    color:#fff !important;
}

.post_grid{
    margin-top: 15px;
}

.category{
    border-right: 1px solid #e1e5e9
}

.category h3{
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.listing h3{
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color:#5C232C;
}

.category .cat a{
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
}

.listing{
    border-left: 1px solid #e1e5e9;
}

.caption{
    position: relative;
    background-color:#E8E8E8;
}

.caption h3{
    text-transform: capitalize;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 15px; 
    color:#5C232C;
    float:left;
    padding:0px;
    margin:12px 0px;

}
.caption img{
    margin-right: 8px;
    width: 40px;
    height:40px;

}

.media{
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e5e9;
}

.btn-list{
 margin-top: -65px;
}

.media-body h3{
    text-transform: capitalize;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px; 
    color:#5C232C;
    padding: 0px;
    margin:-10px 0px;   

}

.media-body p{
    width: 680px;
}

.thumbnail{
    padding:0px;
}

/*.listing_price{
  color:#fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  background-color:#5C232C;
  padding: 2px 5px; 
}*/

.listings_page{
    margin-top: 4px;
    background-color:#1A1717;
    width: 100%;
    height:45px;
    margin-left: -15px;  
}

.main_page h3{
    color:#fff;
    background-color:#5C232C;
    width: 280px;
    height:44px; 
    line-height: 45px;
    padding-left: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 1px  
}

.leaderboard_ad{
    display: block;
    margin-top: -70px;
}

.recent{
    background:url(image_path("sativa.png"));
    background-repeat: repeat-y repeat-x;
    width: 100%;
    display:block;
   
}

.main_listings h3{
    text-align: center;
    font-family: 'arvo', sans-serif;
    font-weight: 700;
    font-size: 28px; 
    margin-top: 35px;
    color:#333;
}

.main_listings p{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    margin-top: -10px;
    color: #888;
}

.recent_pro{
    width:1170px;
    padding-left: 95px;
    padding-bottom: 20px;
}

ul.trending{
  list-style-type: none;
  padding: 0px;
  margin-top: 15px;
}

ul.trending li.trending_listing{
    float: left;
    margin: 5px 28px 0px 0px;
    position: relative;
    transition: all 0.2s ease-out 0s;
    width: 290px;
    background-color: #FFF;
    border: 1px solid #E4E4E2;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding:4px 4px ;
}

ul.trending li.trending_listing a img{
    display: block;
    height: 237px;
    width: 280px;
    transition: all 0.2s ease-out 0s;
    margin-bottom: 10px;
}

ul.related_images{
    padding: 0px 0px;
    margin: 15px 0px 20px;
    display: block;
    height: 90px;
    text-align: center;
    list-style: outside none none;
    clear: both;
    width: 298px;
}

ul.related_images li{
    float: left;
    word-wrap: break-word;
    margin-right: 3px;
    margin-left: 2px;
}

ul.related_images li a{
    text-decoration: none;
}


ul.related_images li.price_count{
    margin-right: 0px;
}

ul.related_images li.price_count .thumbnail-outer {
    border-radius: 3px;
    border: 1px solid #ECECEC;
    float: left;
    margin-right: 6px;
    transition: all 0.1s ease 0s;
}
ul.related_images li.price_count .count-box {
    display: table;
}

ul.related_images li.price_count .thumbnail-inner {
    display: table-cell;
    vertical-align: middle;
    height: 84px;
    width: 84px;
    background: none repeat scroll 0% 0% #FFF;
    transition: all 0.1s ease 0s;
}


ul.related_images li.price_count .thumbnail-inner:hover{
    background-color: #CCE9F0;
}

.shop-listing-count {
    color: #999;
    display: block;
    height: 84px;
    padding-top: 19px;
    text-align: center;
    text-decoration: none;
    width: 84px;
}

.listing-count {
    color: #0192B5;
    display: block;
    font-size: 24px;
    text-decoration: none;
}

ul.related_images li a .thumbnail-outer {
    border-radius: 3px;
    border: 1px solid #ECECEC;
    float: left;
    margin-right: 3px;
    transition: all 0.1s ease 0s;
}

ul.related_images li a .thumbnail-inner img {
    width: 84px;
    height: 84px;
    border-radius: 3px;
    border: 3px solid #FFF;
    background: none repeat scroll 0% 0% #000;
    overflow: hidden;
    transition: all 0.1s ease 0s;
    margin-bottom:0px;
}

 .listing_title{
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    margin:0px 0px 10px 8px;
    color: #666;
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    width: 130px;
    text-decoration: none;
    text-transform:capitalize;
    
}

.listing_price {
    color: #78C042;
    position: relative;
    right: 4px;
    bottom: 0px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    float: right;    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    margin-left: 25px;
}


ul.trending li.trending_listing .about-shop{
    background-color: #FBFBF8;
    border-top: 1px solid #DDD;
    line-height: 18px;
}

ul.trending li.trending_listing .about-shop:hover{
    background-color: #e1e5e9;
}

ul.trending li.trending_listing .about-shop a {
    display: block;
    padding: 15px 8px;
    text-decoration: none;
}

ul.trending li.trending_listing .owner-details span.about-image img {
    border-radius: 50px;
    height: 50px;
    float: left;
    margin: -5px 10px 0px 0px;
    width: 50px;
}

ul.trending li.trending_listing .owner-details {
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.trending li.trending_listing .owner-details em {
    font-style: normal;
    padding-right: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 300;

}

.footer_mid{
    /*background: url(../img/mid_bg.png);*/
    background-size: cover;
    background-position: center-top;
    height:auto;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    padding-bottom: 45px;

}

.col{
    margin-top:45px;
    border-right: 1px solid #ddd;
    padding-right: 15px;
}

.no_boder_col{
    border-right: none;
}


.col h3{
   text-align: center;
   font-family: 'Source Sans Pro', sans-serif;
   font-size:20px;
   font-weight: 600;
   letter-spacing: 1px;
   text-transform: uppercase;
   color:#333;

}

.col img{
    position: relative;
    left: 35%;
    width: 100px;
}

.col p{
   text-align:center;
   font-family: 'Source Sans Pro', sans-serif;
   font-size:15px;
   font-weight: 300;
   letter-spacing: 1px;
   color:#333;
}

.mid_listings{
    width: 680px;
    margin-left: auto;
    margin-right: auto;
}

.mid_listings h3{
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 28px; 
    margin-top: 35px;
    color:#333;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom:5px;
    line-height: 38px;

}

.mid_listings p{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 24px; 
    margin-top: -10px;
    color: #888;
}

.voir-plus{
    width:50px;
    margin-left: auto;
    margin-right:auto;
    padding:0px 0px 15px 0px;

}

.btn-voir{
    background-color: #5C232C;
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border:none;
    letter-spacing: 1px;
    position: relative;
    right: 150px;
    top: 18px;
}

.btn-voir:hover{
   background-color:#481C22;
   color: #fff;
}

.invite{
  display: block;
  background-image: url(image_path("invitebg.jpg"));
  background-size: cover;
  background-position: center-top;
  padding: 35px 0px 45px 0px;
  width:100%;
 
}

.trial{
    width: 820px;
    margin-right: auto;
    margin-left: auto;

}

.trial h4{
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    border:none;
    letter-spacing: 1px; 
    text-align: center;
    
}

.trial h3{
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 42px;
    border:none;
    letter-spacing: 1px; 
    text-align: center;
    margin-top: -10px;
}

.trial p{
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 10px;
    border:none;
    letter-spacing: 1px; 
    text-align: center;
    margin-top: -10px;

}

.trialbox{
    width:300px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 12px;

}

.btn-action{
    background-color: #9CD08F;
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border:none;
    letter-spacing: 1px; 
    width: 270px;
    height: 60px;
    margin-top:25px;
}

.btn-action:hover{
   background-color:#64B650;
   color: #fff;
}

.btn-trial{
    background-color: #B9314F;
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    border:none;
    letter-spacing: 1px; 
    width: 270px;
    height: 60px;

}

.btn-trial:hover{
   background-color:#481C22;
   color: #fff;
}

.foot-wrapper{
 width: 960px;
 margin-left: auto;
 margin-right: auto;
}

.foot-wrapper ul.foot-list{
    list-style-type: none;
    padding:0px;
    margin:20px 0px;

}

.foot-wrapper ul.foot-list li{
    display: inline-block;
    padding: 20px;
    
}

.foot-wrapper ul.foot-list li a{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize; 
    letter-spacing: 2px;
    color:#666;
    text-decoration:none
}

.foot-wrapper ul.foot-list li a:hover{
    color:#5C232C;
}

.foot-wrapper ul.foot-list li a i{
    color:#5C232C;
}

.copyright{
    display:block;
    padding: 45px 43px 45px 0px;
    width: 100%;
    background-color: #F6F7F7;
    
}

.copyright p {
    display: inline;
    letter-spacing: 1px;
    font-size: 12px;
    color: #999;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    line-height: 45px;
   
}

.copyright p.left {
    text-align: left;
}

.copyright p.right {
    float: right;
}

.copyright p a {
    color: #999;
}

.mbox{
    position: relative;
    top: -15px;
    right: 10px;
    background-color:#5C232C;
    padding: 3px 5px;
}


