
h3.time_lead{
    text-align: left;
    font-family: "arvo",sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin:30px 0px 30px 0px;
    color: #596377;   
}

.media-heading{
   font-family: "Open Sans",sans-serif;
   font-weight: bold; 
   font-size:18px;
   color:#303E49;
}

.media-body p{
    font-style:italic;
    font-size:14px;
    padding:0;
}

ul.nav.nav-tabs li a{
    font-family: "open sans",sans-serif;
    font-size: 15px;
    letter-spacing:1px;
    color: #596377;
}

ul.nav.nav-tabs li a i{
    margin-right:3px;
}

.tabs_link{
    padding-bottom:8px;
    border-bottom:1 px solid #e1e5e9;
}

.btn_box{
   position:relative;
   top: 7px;
   left:12px;
}

.btn_box button{
  font-family: 'arvo', sans-serif;
  font-weight: 700;
  font-size: 15px; 
}

.btn_box button i{
    margin-right:8px
}

.dash_h3{
    text-align: center;
    font-family: "arvo",sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin:-10px 0px 35px 0px;
    color: #596377; 
}

.smaller{
   position: relative;
   top: -35px;
   margin-left: 495px;
}

.btn_teal {
    background-color:#53CEE4;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    display:inline-block;
    color: rgb(255,255,255);
    font-family:'PT sans',sans-serif;
    font-weight: bold;
    font-size:15px;
    font-weight:normal;
    font-style:normal;
    padding: 8px 16px;
    line-height: 30px;
    text-decoration:none;
    text-align:center;
  }
  .btn-teal:hover {
    background-color:#1FADC7;
  }
  .btn-teal:active {

  }

.owner_pic{
   position: relative;
    left: 530px;
    margin-bottom: 35px;
}

.owner_pic img{
    border:3px solid ;
}

  
