.nav-tabs > li.active > a:hover{
    border-bottom:1px solid #596377 !important;
}

h3.time_lead{
    text-align: left;
    font-family: "open sans",sans-serif;
    /* font-weight: 700; */
    font-size: 14px;
    margin: 1px 0px 25px;
    color: #596377;
    background-color: white;
    width: 1120px;
    padding: 20px;
    box-shadow: 0px 3px 0px #D7E4ED;
    letter-spacing: 1px;
}

.media-heading{
   font-family: "Open Sans",sans-serif;
   font-weight: bold; 
   font-size:18px;
   color:#303E49;
}

.media-body p{
    font-size:14px;
    padding:0;
}

ul.nav.nav-tabs li a{
    font-family: "open sans",sans-serif;
    font-size: 13px;
    letter-spacing:1px;
    color: #596377;
}

ul.nav.nav-tabs li a i{
    margin-right:3px;
}

.tabs_link{
    padding-bottom:8px;
    border-bottom:1 px solid #e1e5e9;
}

.btn_box{
    position: relative;
    top: 7px;
    left: 12px;
    height: 45px;
    margin: 0px 0px 6px 6px;
}

.btn_box button{
  font-family: 'arvo', sans-serif;
  font-weight: 700;
  font-size: 15px; 
}

.btn_box button i{
    margin-right:8px
}

.dash_h3{
    font-size: 28px;
    margin:30px 0px 20px 0px;
    color: #596377; 
}

.smaller{
   position: relative;
   text-align:center;
   margin:0 auto;
    color:#888 !important;
}

.btn_teal {
    background-color:#53CEE4;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    display:inline-block;
    color: rgb(255,255,255);
    font-family:'PT sans',sans-serif;
    font-weight: bold;
    font-size:15px;
    font-weight:normal;
    font-style:normal;
    padding: 8px 16px;
    line-height: 30px;
    text-decoration:none;
    text-align:center;
  }
  .btn-teal:hover {
    background-color:#1FADC7;
  }
  .btn-teal:active {

  }

.dash_info{
    display: block;
    background-color: #FFF;
    width: 280px;
    margin: 0px auto -50px;
    height: 150px;
    position: relative;
    top: -80px;
    border-radius: 3px;
    box-shadow: 0px 3px 0px #D7E4ED;
    padding: 8px 15px 0px; 
}

.owner_pic{
   position: relative;
    left: 530px;
    margin-bottom: 35px;
}

.owner_pic img{
    border: 3px solid;
    margin-bottom: 5px;
    position:relative;
    z-index:30;
}

.subs{
    font-size: 14px;
    color: #596377;
    position: relative;
    top: -30px;
}

.dash_info h3{
    text-align: center;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    color: #596377;
    letter-spacing: 1px;
    
}

.dash_info small{
    text-align: center;
    font-family: "open-s"
}

.dash_info h3 span {
    color:#888;
}

.dash_info h3 span a {
    z-index:1000;
}

h6.dash_time{
    color: #888;
    text-align: center;
    position: relative;
    top: -20px;
    font-family: "arvo", sans-serif;
    font-size: 10px;
}

.sales{
    display:block;
    width:100%;
    height:200px;
    background-color:#fff;
    box-shadow: 0px 3px 0px #D7E4ED;
    position: relative;
    top: 20px;
    left: -26px;
}

.sales span{
    position: relative;
    top: 25px;
    left: 110px;
    font-family: "arvo", sans-serif;
    font-size: 12px;
    font-weight:700;
}


.header_dash{
    display:block;
    width:100%;
    height:40px;
    background-color:#D7E4ED;
    position: relative;
    top: 20px;
    left: -26px;
    border-bottom:1px solid #BCC5CD;
    
}

.header_dash h3{
    font-family: "open sans",sans-serif;
    font-size: 12px;
    color: #596377;
    position: relative;
    top: 12px;
    left: 10px;
    /* font-weight: 700; */
    letter-spacing: 1px;
}
.up{
    position:relative;
    top:-15px;
}

p.pro_views{
   font-family:"arvo",sans-serif;
    font-size:50px;
    color:#596377;
    position: relative;
    top: 50px;
    font-weight:700;
    text-align:center;
}

.up-time{
    position:relative;
    top:-5px;
}

.target_able{
    position:relative;
    top: -55px;
    left: 310px;
}

.dash_actions{
    text-align: center;
  }

.dash_actions ul{
    list-style-type: none;
    margin: 0; padding: 0;

   }
   
.dash_actions ul li{
    float: left;
    text-align: center;
   }
 
.dash_actions ul li a{
    display: block;
    padding: 0px 3px;
    text-align: center;
   }


.btn-spacer{
    position: relative;
    top:-8px;
}

.btn-spacer-plus{
    position:relative;
    right:10px;
}

.btn-spacer-plus-left{
  position:relative;
  left:10px;
}

 .btn-nav{
 	cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    color: #596377;
    border-radius: 4px;
    display: inline-block;
    -webkit-transition: background-color 100ms ease 0s;
    transition: background-color 100ms ease 0s;
    font-family: "open sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #C2C9D6;
    background-color: #FCFDFD;
    /* box-shadow: 0px 1px 0px 0px #FFF inset; */
    width: 100%;
    padding: 10px 10px;
    margin: 7px auto;
    /* display: block; */
 }

 .btn-nav:hover{
 	background-color:#1ABC9C /*#5C232C #596377*/;
 	color:#fff;
 	text-transform: uppercase;
 }

.btn-nav i{
    width:100%;
    margin:0 auto; 
}
 
