.mail{
	margin-top: 35px;
}

 .media-body h4{
	font-family:'lato', sans-serif;
    font-size: 16px;
}

.media-body h5{
   font-family:'lato', sans-serif;
   font-size: 9px;
   font-style: italic;
}

.mid-jumbotron h5{
	font-family:'lato', sans-serif;
   margin-top: 26px;
    font-size: 22px;
    

}