// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***************Main_index_css**************************/



.pr-show{
    background-color:#F6F6F6;
}

.main_pages{
  padding-bottom: 10px;
  margin-top: 35px;

}

.intro_listing{
  background-image: url(image_path("intro_listing.png"));
  background-size: cover;
  background-position: center-center;
  height: 250px;
  background-repeat: no-repeat;
  margin:-20px 0px 0px 0px;

}

.trending {
  position:relative;
  left:10px;
}

.trending h3{
  text-align:left;
  font-family: 'arvo', sans-serif;
  font-weight: 700;
  font-size: 15px; 
  color: #596377;
  text-transform:uppercase;
  letter-spacing:1x;
  margin-bottom:20px;
}

.main_pages h3{
    text-align: center;
    font-family: 'arvo', sans-serif;
    font-weight: 700;
    font-size: 28px; 
    margin-top: -25px;
    color: #596377
}

.main_pages p{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    margin-top: -10px;
    color: #888;
}

.mid-jumbotron{
  background: url(image_path("sativa.png"));
  background-repeat: repeat-y repeat-x;
  width: 100%;
  display:block;
  height: 96px;
 }

.mid-jumbotron h3{
   color:#474747;
   font-family:'lato', sans-serif;
   font-size: 20px;
   font-weight: 600;
   text-transform: uppercase; 
   margin-top:26px;
}

.center-block{
   float:none;
}

.med-group{
	margin-top:25px;
}

form.navbar-form .form-group input.med[type="search"]{
   font-size: 15px;
   line-height: 17px;
   font-weight: 400;
   width: 600px;
   height: 35px;
   border-radius: 3px;
   color:#888;
   letter-spacing: 1px;
   padding-left:6px;
   border:medium none;
}

.btn-midjumbo{
   padding: 11px 17px 11px 17px;
   /*height: 55px;
     width: 60px;*/
   border-radius: 10px;
   background-color: #7C303C;
   border:none;
   margin-top:25px;

}

.btn-midjumbo:hover{
   background-color: #5C232C;
}

.main_index{
	width: 100%;
	height:auto;
	padding:0px 0px 35px 0px;
	background-color: #EFEFEB;
}

ul.list_cat{
	list-style-type: none;
	padding: 0px 0px 20px 0px ;
	margin: 0px;
	border-bottom: 1px dashed #e1e5e9;
	width: 100%;
  height: 95px;
}

.cat_list{
	margin-bottom:35px;
}

ul.list_cat li.electro{
	float:left;
	display: inline;
	margin-right: 5px;
	background-image:url(image_path("store_bg_1.png"));
  width: 222px;
  height: 74px;
  left: -5px;
  position: relative;
}

ul.list_cat li.artisanat{
	float:left;
	display: inline;
	margin-right: 5px;
	background-image:url(image_path("store_bg_2.png"));
  width: 222px;
  height: 74px;
}

ul.list_cat li.fashion{
	float:left;
	display: inline;
	margin-right: 5px;
	background-image:url(image_path("store_bg_3.png"));
  width: 222px;
  height: 74px;
}

ul.list_cat li.jouet{
	float:left;
	display: inline;
	margin-right: 5px;
	background-image:url(image_path("store_bg_4.png"));
  width: 222px;
  height: 74px;
}

ul.list_cat li.deal{
	float:left;
	display: inline;
	margin-right: 5px;
	background-image:url(image_path("store_bg_5.png"));
  width: 222px;
  height: 74px;
}

ul.list_cat li a {
	color:#fff;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	top:25px;
	left:30%;

}

ul.list_cat li:hover{
   opacity: 0.5;
   -webkit-transition:2s;
   transition:2s;

}


ul.list_cat li:last-child{
	margin-right: none;
}

.index_cat{
	margin-bottom: 25px;
}

.index_cat h3{
	font-family: 'arvo', sans-serif;
  font-weight: 700;
  font-size: 15px; 
  color: #596377;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 10px;

}

.item_box{
	width: 100%
}

.item_box h3{
	font-weight: 700;
	font-family: 'Arvo', sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase
}

.item_box a{
	margin-top: 5px;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: lowercase;
	color:#26C9FF;
}

.item_list ul{
	list-style-type: none;
	padding:0px ;
	margin-top: 50px;
	width: 100%;
}

ul li.item{
	width: 208px;
	margin-right:20px;
	float: left;
	min-height: 1px;
	margin-bottom: 35px;
	position: relative;
	box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.52);
	border-radius: 0px 0px 4px 4px;
	background: none repeat scroll 0% 0% #FFF;
	height: 260px;
	/*background-color:rgb(255,255,255);
	width:222px;
	height:273px;
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.28);
	-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.28);
	box-shadow:0px 1px 2px rgba(0,0,0,0.28);
	padding: 4px;
	margin-right: 25px;
	display: inline-table;
	float: left;
	margin-bottom: 25px;*/
}

ul li.item a img{
	display: block;
    width: 208px;
    height: 200px;
    vertical-align: middle;
}

ul li.item:last-of-type{
	margin-right: 0px;
}

ul li.item .info span.item_title{
	  text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 13px; 
    /*margin:0px 0px 10px 8px;*/
    color:#596377;
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:205px;
    text-decoration: none;
    margin:5px 0px 4px 7px;
    padding-right:3px;
    text-transform: capitalize;
}

ul li.item .info span.item_price{
    color: #78C042;
    /*right: 4px*/
    bottom: 0px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size:13px;
    text-decoration: none;
    letter-spacing: 1px;
    margin-right:5px;
    margin-top: 3px;
}

ul li.item .info a.store{
	  margin: 4px 0px 0px 4px;
	  font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 11px; 
    letter-spacing: 1px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    width:100%;
}

ul li.item span.label{
  position: absolute;
  top: -8px;
  left: 5px;
}

.label-green{
  background-color:#192D43;
  font-size:16px;
  font-weight:bold;
  font-family: 'open sans', sans-serif;
  letter-spacing:1px;
  text-transform:uppercase;
}

.intro{
	background-image:url(image_path("intro_bg.png"));
	background-size: cover;
	background-position: center-top;
	height: 350px;
	background-repeat: no-repeat;
	margin-bottom: 0px;

}
.intro_box {
    padding: 50px 0px;
    text-align: center;
}

.intro_box h2 {
    font-family: "arvo",sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    color: #444;
    font-size: 30px;
    /*line-height: ;*/
}

.intro_box h2 ul {
    width: 100px;
    height: 34px;
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
    display: inline-block;
    position: relative;
    top: 0px;
    transform: translate3d(0px, 0px, 0px);
    transition: top 125ms ease-out 0s;
    ist-style: outside none none;
}

.intro_box h2 ul li {
    margin: 0px;
    padding: 0px;
    position: absolute;
    color: #444;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);
    transition: opacity 125ms ease-out 0s;
}

.btn-marketing{
	color: #FFF;
	display: inline-block;
	background: none repeat scroll 0% 0% #6ED7AF;
	border-radius: 20px;
	padding: 5px 14px;
	margin: 10px 0px;
	font-size: 21px;
	line-height: 1;
  border:none;
}

.btn-marketing:hover{
	background-color:#588F30; 
}

.intro_box h3 {
    font-family: "Source Sans Pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.intro_box h3 a {
    color: #000;
    text-decoration: underline;
}

.block-actions{
    display: none;
    left: 25px;
    top: -150px;
    position: relative;

}

.btn-heart{
	background-color:#78C042;
	border:none;
}

.btn-heart:hover{
	background-color:#588F30;
	border:none;
}

.btn-share{
   background-color:#78C042;
   border:none;
}

.btn-share:hover{
   background-color:#588F30;
   border:none;
}

ul li.item a img:hover{
    opacity: 0.5;
   -webkit-transition:2s;
    transition:2s;
}


 .item_list ul li.item:hover .block-actions{
    display: block;
   -webkit-transition:2s;
    transition:2s;
}

.block-actions button i{
  padding-right:3px;
}

.centered{
	width:720px;
	margin-right:auto;
	margin-left:auto;
}
.info span.avatar_info{
  float: left;
  margin-left: 8px;
}

.info span.avatar_info a img{
  width: 20px;
  height: 20px;
  float:left;
  margin: 0px 4px 0px 3px;
}
.info span.avatar_info a p{
    margin:8px 0px 0px 6px;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    color:#596377;
    font-size: 8px; 
    letter-spacing: 1px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    width: 40px;
    text-decoration:none;
}

.like{
  font-family: 'open sans', sans-serif;
  font-weight:bold;
  font-size:12px;
  color: #596377; 
  margin-right:5px;
  border:1px solid #e1e5e9;
  padding:3px;
  border-radius:2px;
}

.like-action{
  position: relative;
  top: 10px;
  left: 0px;
  margin-bottom: 20px;
}

.smaller{
  font-family: 'open sans', sans-serif;
  font-style: normal ;
  font-size:13px;
  color: #888;
}

table > tbody > tr > td{
  text-overflow:ellipsis;
}

.btn-group a{
  font-family: 'open sans', sans-serif;
  font-style: normal ;
  font-size:13px;
}

.btn-group a span{
  margin-right:3px;
}

.list_h3{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #FFF;
    margin: 0px auto;
    position: relative;
    top: 140px;
    left: 35px;
    text-transform: capitalize;
    font-size: 45px;
}

.seller_box{
   display: block;
    width: 100%;
    height: 75px;
    opacity: 0.5;
    background-color: #000;
    position: relative;
    top: 245px;
}

 ul.seller_display{
   list-style-type:none;
   margin:0;
   padding:0;
}
.no_results{
    opacity: 1;
    width: 100%;
    color: #D6D6D6;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    letter-spacing:1px;
    
}
