.btn-fa-social{
    background-color:#46629E;
	color:#fff;
	padding: 10px 20px 10px 20px;
	margin-top: 5px;
	border-radius: 8px;
	border:none;
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 1px;
	width: 400px;
	height:50px;
}

.btn-fa-social:hover{
	background-color:#384F7E;
	color:#fff !important; 
}

.separator{
	display: block;
	height: 20px;
	width: 100%;
}

.btn-twt-social{
    background-color:#55acee;
	color:#fff;
	padding: 10px 20px 10px 20px;
	margin-top: 5px;
	border-radius: 8px;
	border:none;
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 1px;
	width: 400px;
	height:50px;
}

.btn-twt-social:hover{
	background-color:#1C91E8;
	color:#fff !important;
}

.center-block{
	float: none
}

.btn-login{
    background-color:#7C303C;
	color:#fff;
	padding: 9px 25px 9px 25px;
	margin: 5px 0px 15px 0px ;
	border-radius: 8px;
	letter-spacing: 1px;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;

}

.btn-login:hover{
	background-color: #5C232C;
	color:#fff !important;
}

.centered-login{
   width: 420px;
   margin-left:auto;
   margin-right:auto;
}

.login{
  width: 420px;
  border:1px solid #e1e5e9;
  padding: 15px 10px 20px 10px;
  text-align: left;
  margin-top: 25px;
 
}

.login p {
	color:#333;
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: left;
	
}

.login form{
	margin-top: 10px;
}

.login a{
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 13px;
	letter-spacing: 1px;
}

.input-group input.log[type="text"]{
	width: 400px;
	height:45px;
	padding-left:10px;
	text-transform:uppercase;
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.form-group input.pass[type="password"]{
	width: 400px;
	height:45px;
	padding-left:10px;
}