
.modal-header{
background-color:#5C232C;
}
.modal-dialog{
top:35px;
}
.modal-header h1{
font-family:'Pt sans', sans-serif;
font-size:20px;
color:rgb(0,0,0);
text-align:left;
padding-bottom: 5px;
text-shadow: 1px 1px 1px rgb(35, 86, 117);
text-transform: uppercase;
}
.modal_wrapper{
margin-top:10px;
margin-left:10px;
}

.modal-title {
  color: #fff;
}