/*===================================================*
.modal-header{
background-color: #81C76C;
}
.modal-dialog{
top:35px;
}
.modal-header h1{
font-family:'Pt sans', sans-serif;
font-size:20px;
color:rgb(255,255,255);
text-align:left;
padding-bottom: 5px;
text-shadow: 1px 1px 1px rgb(35, 86, 117);
text-transform: uppercase;
}
.modal_wrapper{
margin-top:10px;
margin-left:10px;
}
.left-modal{
width: 250px;
height: 200px;
border-right: 1px solid rgb(221, 221, 221);
padding-right: 20px;
float: left;
}
.left-modal h3{
margin-left: 10px;
color:rgb(232, 35, 12) ;
font-family:'oswald', sans-serif;
font-size:14px;
letter-spacing:1px;
text-transform:uppercase;
}
.right-modal{
float:left;
width:180px;
height: 200px;
margin-left: 20px;
padding: 40px 0px 0px 20px;
}
.disclaimer{
margin-top:5px;
font-size:9px;
font-family:'Pt sans', sans-serif;
color:#888;
}
.facebook{
background-color:#3B5998 ;
text-indent:0;
display:inline-block;
width: 180px;
height: 33px;
padding: 2px 13px;
margin-bottom: 15px;
}
.facebook a{
color:rgb(255,255,255);
font-family:'PT sans',sans-serif;
font-weight: bold;
font-size:16px;
font-weight:bold;
line-height: 33px;
text-decoration:none;
text-align:center;
}
.facebook i{
margin-right:15px;
color:rgb(255,255,255);
}
.twitter{
background-color:#33CCFF;
text-indent:0;
display:inline-block;
width: 180px;
height: 33px;
padding: 2px 13px;
line-height: 33px;
}
.twitter a{
color:rgb(255,255,255);
font-family:'PT sans',sans-serif;
font-weight: bold;
font-size:16px;
font-weight:bold;
font-style:normal;
line-height: 33px;
text-decoration:none;
text-align:center;
}
.twitter i{
margin-right: 10px;
color:rgb(255,255,255);
}
.more{
margin-left: 10px;
float: right;
margin-right: 25px;
}
.divider{
width: 35px;
height: 35px;
border-radius: 50%;
background: none repeat scroll 0% 0% rgb(255,255,255);
position: relative;
top: 75px;
left: 252px;
}
.divider span{
font-family: 'PT sans',sans-serif;
font-size: 11px;
color: rgb(141, 141, 141);
position: relative;
top: -235px;
left: 10px;
text-align: center;
text-transform: uppercase;
font-weight: bold;
}
.format{
width:200px !important;
height:15px !important;
padding:8px !important;
}
/****************************************************
.modal-left{
width: 250px;
height: 200px;
padding: 10px 3px 0px 10px;
float: left;
margin-left: 10px;
}
.modal-left h3{
margin-left: 10px;
color: rgb(159,159,159);
font-family:'oswald', sans-serif;
font-size:15px;
}
.modal-right{
float:left;
width:250px;
height: 200px;
margin-left: 20px;
padding: 20px 0px 0px 3px;
}
input[type="text"].disabled{
background-color: rgb(204,204,204);
text-align: center;
}
textarea{
resize:none;
}
.content-wrapper{
width: 100%;
height: 200px;
}
.fieldset{
width:490px;
height: 50px;
margin-left: 20px;
padding: 10px 0px 10px 10px;
margin-bottom: 20px;
}
.border{
border:1px solid rgb(221, 221, 221);
padding: 15px;
}
fieldset legend{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px;
color:rgba(1,18,22, 0.5);
}
fieldset label{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
color:rgba(1,18,22, 0.5);
margin-right: 50px;
}
input[type="checkbox"] {
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea
{
background-color:rgba(255,255,255,0.8);
width:200px;
border: none;
margin:15px 8px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px;
color:rgba(1,18,22, 0.5);
height: auto;
outline: 0px none;
padding: 8px;
box-shadow: none;
border-radius: 3px 3px 3px 3px;
border-color: rgb(245, 245, 245);
display: block;
float: left;
text-transform: capitalize;
border:1px solid rgb(221, 221, 221);
}
input[type="file"]{
width:100%;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px;
color:rgba(1,18,22, 0.5);
}
*/