body#bd_list{
    background-color:#EEEEEE;
}

.payment-methods{
	margin-top: 30px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.payment-methods ul{
	list-style-type: none;
	margin:0; padding:0;
}

.payment-methods ul li{
	display: inline-block;
	float: left;
	margin-right: 30px;
}

.payment-methods ul li i{
	opacity: 0.3;
}
