<!-- HTML Meta Tags -->
<!--<title>Bienvenue sur Timarché</title>-->
<meta name="description" content="Timarché est un marché pair à pair, où vous pouvez acheter et vendre des produits, timarché veulent autonomiser les gens à être autosuffisants et faire un revenu passif.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Bienvenue sur Timarché">
<meta itemprop="description" content="Timarché est un marché pair à pair, où vous pouvez acheter et vendre des produits, timarché veulent autonomiser les gens à être autosuffisants et faire un revenu passif.">
<meta itemprop="image" content="https://res.cloudinary.com/doobee46/image/upload/v1516055245/website_image_cax929.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="http://timarche-staging.herokuapp.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Bienvenue sur Timarché">
<meta property="og:description" content="Timarché est un marché pair à pair, où vous pouvez acheter et vendre des produits, timarché veulent autonomiser les gens à être autosuffisants et faire un revenu passif.">
<meta property="og:image" content="https://res.cloudinary.com/doobee46/image/upload/v1516055245/website_image_cax929.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Bienvenue sur Timarché">
<meta name="twitter:description" content="Timarché est un marché pair à pair, où vous pouvez acheter et vendre des produits, timarché veulent autonomiser les gens à être autosuffisants et faire un revenu passif.">
<meta name="twitter:image" content="https://res.cloudinary.com/doobee46/image/upload/v1516055245/website_image_cax929.png">

<!-- Meta Tags Generated via http://heymeta.com -->